*{
    border: 2px solid black;
}


input[type="text"]{
    width: 100%;
    margin-top: 10px;
    height: 50px;
    max-width: 300px;
    display: block;
}

button{
    height: 21px;
    width: 300px;
    margin: 30px 40px;
    background-color: violet;
    cursor: pointer;
}

.hai{
    margin: 150px;
    /* transition: 3s; */
    animation: animationMuter 1s linear infinite alternate ;
}

@keyframes animationMuter{
    0%{
        transform: rotate(0deg);
        
    }
    100%{
        transform: rotate(360deg);
       
    }
}