h1{
    background-color: violet;
    padding: 30px;
    height: auto;
    width: 100%;
    max-width: 80px;
    animation: animationMuter 3s linear infinite;
    background-image: radial-gradient(circle closest-corner, yellow, blue);
    margin: 20px;
}
@keyframes animationMuter {
    0% {
        margin-left: 30px;
        transform: rotate(180deg);
        border-radius: 20%;
    }
    50% {
        margin-top: 100px;
        transform: skew(30deg) rotate(270deg);
        border-radius: 50%;
    }
    100%{
        margin-right: 50px;
        transform: rotate(360deg);
        border-radius: 0;
    }
}